*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion-container{
    width:100%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.accordion{
    margin:30px 90px;
}

.accordion-item{
    background-color: blanchedalmond;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    box-shadow: 8px 2px 8px rgba(0,0,0,0.1);
}

.accordion-link{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.815);
    text-decoration: none !important;
    background-color: rgb(70, 62, 61);
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10px;
}



.accordion-link:hover{
    color:#fff;
}

.accordion-link .icon-plus,.accordion-link .icon-minus{
    color:#fff;
    padding: 8px;
    font-size: 20px;
}

.accordion-link .icon-minus{
    display: none;
}

.accordion-answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #ddd;
    transition: max-height 650ms;
}

.accordion-answer::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 90%;
    background-color:skyblue;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

.accordion-answer .accordion-content{
    font-size: 20px;
    color: rgba(59, 47, 40, 0.6);
    padding: 32px;
}

.accordion-answer:hover .accordion-content{
    color:rgba(15, 8, 3, 0.6);
}

.accordion-item:target .accordion-answer{
    max-height: 80rem;
}

.accordion-item:target .accordion-link .icon-plus{
    display: none;
}

.accordion-item:target .accordion-link .icon-minus{
    display: block;
}

@media only screen and (max-width:1080px){
    .accordion{
        margin:30px 40px;
    }
}