.slider-home {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin:0;
    padding: 0;
  }
  
  .slide-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    background-size: contain;
  }

  .image-slider-home{
    max-width: 100%;
    height:auto;
  }
  
  @media screen and (min-width: 1080px) {
    .slide-home img {
      width: 100%;
      height: 85vh;
      
    }
    .slider-home{
      height:85vh;
    }
  }
  
  .slide-home img {

   background-size:contain,cover;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slider-content {
    position: absolute;
    top: 23rem;
    left: 5rem;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease 0.5s;
     animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
  }
  
  @media screen and (max-width: 1080px) {
    .slider-content {
      width: 80%;
    }
    .image-slider-home{
      width:100%;
      height:85vh;
    }
    .arrow{
      margin-top:200px;
    }
  }
  @media screen and (max-width: 700px) {
 .image-slider-home{
   height:68vh;
 }
 .slider-home{
   height:68vh;
 }
 .arrow{
  margin-top:200px;
}
}
  
  .slider-content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .current .slider-content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  
  .arrow {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
  }
  .arrow:hover {
    background-color: #fff;
    color: #777;
  }
  
  .next {
    top: 35%;
    right: 1.5rem;
  }
  .prev {
    top: 35%;
    left: 1.5rem;
  }
  
  hr {
    height: 2px;
    background: white;
    width: 50%;
  }